<!-- <h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p> -->






<p>Your word: <%=@user_longest_word%></p>

<p>Time taken: <%=@score[:time]%></p>
<p>Your score: <%=@score[:score]%></p>
<p>Message: <%=@score[:message]%></p>
<%=link_to "Try again",game_path%>

